# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = T K Sourabh
#	email = sourabhtk37@gmail.com
[user]
	name = T K Sourabh
	email = sourabhtk37@gmail.com
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red 
	oldHighlight = red  52
	newNormal = green 
	newHighlight = green  22
[color "diff"]
	meta = blue
	frag = black
	commit = blue 
	old = red 
	new = green 
	whitespace = red 
